/* Miles Shinsato, 02/02/2025, Assignment 6.2 - Building a Webpage Exercise Part 5 */


/* Header Styling */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navbar Styling */
#navbar {
    overflow: hidden;
    background-color: #444;
    border-bottom: 15px solid #888;
}

/* Styles the individual links inside the navbar */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Changes link styles when hovered over */
#navbar a:hover {
    background-color: #555;
    color: yellow;
}

/* Container Styling */
#container {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

/* Card Styling */
.card {

    /* Adding shadow over box*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    /* Adding transition effect*/
    transition: 0.3s;
    width: 50%;
    background-color: #fff;
    padding: 15px;
}

/* Adding a stronger shadow when hovering over card */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Card title styling */
.card-title {
    text-align: center;

    /* Making the font larger*/
    font-size: 2em;
    color: #444;
    font-weight: 400;
}

/* Adding padding inside the card content */
.card-content {
    padding: 2px 16px;
}

/* Footer Styling */
footer {
    background-color: #333;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: right;
    box-sizing: border-box;
}

/* Adding style for the paragraph (link to landing page) */
footer p {
    color: white;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}

/* Style for the links inside the footer */
footer a {
    text-decoration: none;
    color: white;
}

/* Adding underling when hovering over footer links */
footer a:hover {
    text-decoration: underline;
}
